<article>
  <div class="jumbotron text-center">
    <h1>Edit Profile</h1>
  </div>
  <div class="container">
    <form action="/user/edit_profile" method="POST" class="md-form" id="application-submission">
        <div class="form-group">
          <label for="fullName">
            Full Name </label>
          <input id="fullName" type="text" name="fullName" placeholder="Enter Full Name" value="{{profile.fullName}}"
            class="form-control" required/>
        </div>
        <div class="form-group">
          <label for="school">
            School</label>
          <input id="school" type="text" name="school" placeholder="Enter School" value="{{profile.school}}"
            class="form-control" />
        </div>
        <div class="form-group">
          <label for="skills">Skills</label>
          <input id="skills" type="text" name="skills" placeholder="Enter Skills (Separated by commas)" value="{{profile.skills}}"
            class="form-control" />
        </div>
        <div class="form-group">
          <label for="presentJob">Present Job</label>
          <input id="presentJob" type="text" name="presentJob" placeholder="Enter Present Job" value="{{profile.presentJob}}"
            class="form-control" />
        </div>

        <div class="custom-file">
          <input id="resume" type="file" name="resume" class="custom-file-input" />
          <label for="resume" class="custom-file-label">{{#if profile.resume}}{{profile.resume}}
                                                                {{else}}Upload Your Resume{{/if}}</label>
        </div>
        <br/>
        <br/>

        <div class="custom-file">
          <input id="coverLetter" type="file" name="resume" class="custom-file-input" />
          <label for="coverLetter" class="custom-file-label">{{#if profile.coverLetter}}{{profile.coverLetter}}
                                                                {{else}}Upload Your Coverletter{{/if}}</label>
        </div>
        <br/>
        <br/>


        <div class="form-group">
          <button type="submit" class="btn btn-primary btn-block">Save</button>
        </div>
      </form>
      <br/>
      

      {{!-- work experience --}}
    <div class="container">
    {{#unless profile.workExperience}}
      <p>Add Work Experience by clicking EDIT Profile...</p>
    {{/unless}}
      <div class="card">
      {{#each profile.workExperience}}
            <div class="card-header">
                <h2 class="card-title">{{this.jobTittle}}</h2>
            </div>
            <div class="card-body">
                <p class="card-text">Job Title: {{this.jobTittle}}</h3>
                <p class="card-text">Employer: {{this.employer}}</p>
                <p class="card-text">Date: {{this.startDate}}{{#if this.endDate}}-{{this.endDate}}{{/if}}</p>
                <p class="card-text">Location: {{#if this.location}} {{this.location}}{{/if}}</p>
                <p class="card-text">Description: {{#if this.description}} {{this.description}}{{/if}}</p>
            </div>
            {{/each}}
    </div>
      <a id="workExperience" type="button" class="btn bg-blue" onclick="show_work_form()" href="/user/work_experience">
        <i class="fa fa-plus"></i>
        Add Work Experience</a>
        </div>
      <br/>
      <br/>

    <br/>
        <div class="container">
    {{#unless profile.workExperience}}
      <p>Add Project by clicking EDIT Profile...</p>
    {{/unless}}
      <div class="card">
      {{#each profile.projects}}
            <div class="card-header">
                <h2 class="card-title">{{this.name}}</h2>
            </div>
            <div class="card-body">
                <p class="card-text">Name: {{this.name}}</h3>
                <p class="card-text">position: {{this.position}}</p>
                <p class="card-text">Date: {{this.startDate}}{{#if this.endDate}}-{{this.endDate}}{{/if}}</p>
                <p class="card-text">Description: {{#if this.description}} {{this.description}}{{/if}}</p>
            </div>
            {{/each}}
        </div>
      <a id="workExperience" type="button" class="btn bg-blue" href="/user/project">
        <i class="fa fa-plus" aria-hidden="true"></i>
        Add Project</a>
      <br/>
      </div>
      <br/>
      <br/>

      <a class='ng-button' href="/user/view_profile">View My Profile</a>

  </div>
</article>
