<article>
    <div class="jumbotron text-center">
        <h1>View Profile</h1>
    </div>
    <div class="container">
        <div class="card">
            <div class="card-header">
                <h2 class="card-title">My Profile</h2>
            </div>
            <div class="card-body">
                <p class="card-text">Full Name: {{profile.profile.fullName}}</p>
                <p class="card-text">School: {{profile.profileschool}}</p>
                <p class="card-text">Skills: {{profile.profile.skills}}</p>
                <p class="card-text">Resume: {{#if profile.resume}}{{profile.resume.originalname}}{{else}}Not Upload Resume Yet{{/if}}</p>
                <p class="card-text">Cover Letter: {{#if profile.coverLetter}}{{profile.coverLetter.originalname}}{{else}}Not Upload Cover Letter Yet{{/if}}</p>


                <br/>
                <h2>Work Experience</h2>
                <br/>
                {{#unless profile.profile.workExperience}}
                <p>Add Work Experience by clicking EDIT Profile...</p>
                {{/unless}} 
                {{#each profile.profile.workExperience}}
                <h3 class="card-subtitle mb-2 text-mutedcard-subtitle mb-2 text-muted">{{this.jobTittle}}</h3>
                <p class="card-text">{{#if this.employer}}Employer: {{this.employer}}{{/if}}</p>
                <p class="card-text">{{#if this.startDate}}Start Date: {{this.startDate}}{{/if}}</p>
                <p class="card-text">{{#if this.endDate}}End Date: {{this.endDate}}{{/if}}</p>
                <p class="card-text">{{#if this.location}}Location: {{this.location}}{{/if}}</p>
                <p class="card-text">{{#if this.description}}Description: {{this.description}}{{/if}}</p>
                <div class="clear"></div>
                <hr>
                {{/each}}
                <br/>

                <h2>Projects</h2>
                <br/>
                {{#unless profile.profile.projects}}
                <p>Add Projects by clicking EDIT Profile...</p>
                {{/unless}} 
                {{#each profile.profile.projects}}
                <h3 class="card-subtitle mb-2 text-mutedcard-subtitle mb-2 text-muted">{{this.name}}</h3>
                <p class="card-text">{{#if this.Position}}Position: {{this.position}}{{/if}}</p>
                <p class="card-text">{{#if this.startDate}}Start Date: {{this.startDate}}{{/if}}</p>
                <p class="card-text">{{#if this.endDate}}End Date: {{this.endDate}}{{/if}}</p>
                <p class="card-text">{{#if this.description}}Description: {{this.description}}{{/if}}</p>
                <div class="clear"></div>
                <hr>
                {{/each}}
                <br/>
            </div>
        </div>
    <br/>
    <br/>
    <a class='ng-button' href="/user/edit_profile">Edit Profile</a>
</div>
</article>
