<article>
    <div class="jumbotron text-center">
        <h1>View Profile</h1>
    </div>
    <div class="container">
        <div class="card my-3">
            <div class="card-header">
                <h2 class="card-title">Personal Details</h2>
            </div>
            <div class="card-body">
                <p class="card-text">Full Name: {{profile.profile.fullName}}</p>
                <p class="card-text">School: {{profile.profile.school}}</p>
                <p class="card-text">Skills: {{profile.profile.skills}}</p>
                <p class="card-text">Present Job: {{profile.profile.presentJob}}</p>
            </div>
            <div class="clearfix visible-xs"></div>
        </div>
        <div class="card my-3">
            <div class="card-header">
                <h2 class="card-title">Resume/Cover Letter</h2>
            </div>
            <div class="card-body" style="position: relative;">
                <p class="card-text">
                    <elem>
                        {{#if profile.resume}}
                        <a href="{{profile.resume.path}}" download="{{profile.resume.originalname}}" class="card-link">
                            <i class="fa fa-file" aria-hidden="true" style="font-size:36px"></i>
                        </a>
                        <span>{{profile.resume.originalname}}{{else}}Not Upload Resume Yet</span>
                        {{/if}}
                    </elem>

                    <elem>
                        {{#if profile.coverLetter}}
                        <a href="{{profile.coverLetter.path}}" download="{{profile.coverLetter.originalname}}" class="card-link">
                            <i class="fa fa-file" aria-hidden="true" style="font-size:36px"></i>
                        </a>
                        <span>{{profile.coverLetter.originalname}}{{else}}Not Upload Cover Letter Yet</span>
                        {{/if}}
                    </elem>
                </p>
            </div>
        </div>
        <div class="clearfix visible-xs"></div>


        <div class="card my-3">
            <div class="card-header">
                <h2 class="card-title">Work Experience</h2>
            </div>
            <div class="card-body">
                {{#unless profile.profile.workExperience}}
                {{/unless}}
                {{#each profile.profile.workExperience}}
                <h3>{{this.jobTittle}}</h3>
                <p class="card-text">Employer: {{this.employer}}</p>
                <p class="card-text">{{#if this.startDate}}Start Date: {{this.startDate}}{{/if}}</p>
                <p class="card-text">{{#if this.endDate}}End Date: {{this.endDate}}{{/if}}</p>
                <p class="card-text">{{#if this.location}}Location: {{this.location}}{{/if}}</p>
                <p class="card-text">{{#if this.description}}Description: {{this.description}}{{/if}}</p>
                <div class="clear"></div>
                <hr>

                {{/each}}
            </div>
            <div class="card-footer">
                <a href="/user/edit_profile" class="card-link">Add Work Experience by clicking Edit Profile</a>
            </div>

        </div>
        <div class="clearfix visible-xs"></div>



        <div class="clearfix"></div>
        <div class="card my-3">
            <div class="card-header">
                <h2 class="card-title">Projects</h2>
            </div>
            <div class="card-body">


                {{#unless profile.profile.projects}}

                <p>Add Projects by clicking EDIT Profile...</p>
                {{/unless}}
                {{#each profile.profile.projects}}
                <h3>{{this.name}}</h3>
                <p class="card-text">{{#if this.Position}}Position: {{this.position}}{{/if}}</p>
                <p class="card-text">{{#if this.startDate}}Start Date: {{this.startDate}}{{/if}}</p>
                <p class="card-text">{{#if this.endDate}}End Date: {{this.endDate}}{{/if}}</p>
                <p class="card-text">{{#if this.description}}Description: {{this.description}}{{/if}}</p>
                <div class="clear"></div>
                {{/each}}
            </div>
            <hr>

            <div class="card-footer">
                <a href="/user/edit_profile" class="card-link">Add Projects by clicking Edit Profile</a>
            </div>
        </div>
    </div>
    <div class="clearfix visible-xs"></div>

    <div class="clearfix visible-xs"></div>


    <div class="clearfix visible-xs"></div>
    <div class="container">
        <div class="form-group">

            <a href="/user/edit_profile" class="btn btn-primary btn-lg m-1" role="button">Edit Profile</a>
            <a href="/logout" class="btn btn-danger btn-lg m-1" role="button">Logout</a>
        </div>

    </div>

</article>