<article>
  <div class="jumbotron text-center">
    <h1>{{title}}</h1>
  </div>
  <div class="container">
    <form action="/application" method="POST" class="md-form" id="application-submission">
      <div class="form-group">
        <label for="companyName">
          Company Name </label>
        <input id="companyName" type="text" name="companyName" placeholder="Enter Company Name" value="{{application.companyName}}"
          class="form-control" required />
      </div>
      <div class="form-group">
        <label for="role">
          Job Role</label>
        <input id="role" type="text" name="role" placeholder="Enter Job Role" value="{{application.role}}" class="form-control"
          required />
      </div>
      <div class="form-group">
        <label for="applyDate">Enter Applied Date or Date you will apply On</label>
        <input id="applyDate" type="date" name="applyDate" class="form-control" required value="{{application.appliedDate}}" />
      </div>
      <div class="form-group">
        <label for="applicationStatus">
          Application Status
        </label>
        <select id="applicationStatus" class="form-control" name="applicationStatus">
          <option value="Application Submitted">Application Submitted</option>
          <option value="First Round">First Round</option>
          <option value="Second Round">Second Round</option>
          <option value="Third Round">Third Round</option>
        </select>
      </div>
      <div class="form-group">
        <label for="jobSource">
          Job Source</label>
        <input id="jobSource" type="text" name="jobSource" placeholder="Source for job" value="{{application.jobSource}}"
          class="form-control" required />
      </div>
      <div class="form-group">
        <div class="custom-file">
          <input id="resume" type="file" name="resume" class="custom-file-input" />
          <label for="resume" class="custom-file-label">Upload Resume used</label>
        </div>
      </div>
      <div class="form-group">
        <div class="custom-file">
          <input id="coverletter" type="file" name="coverletter" class="custom-file-input" />
          <label for="coverletter" class="custom-file-label">Upload Cover Letter used</label>
        </div>
      </div>
      <div class="form-group">
        <label for="notes">
          Notes
        </label>
        <textarea id="notes" name="notes" rows="4" placeholder="Any Other Notes" class="form-control">{{application.notes}}</textarea>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary btn-block">Create New Job Application</button>
      </div>
    </form>
  </div>
</article>
<!-- add Error State -->
<!-- add Clear form State -->